
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.landscapes{
  /* border:2px solid red; */
  background-image: url('https://img.freepik.com/free-vector/dark-hexagonal-background-with-gradient-color_79603-1409.jpg?w=900&t=st=1710856406~exp=1710857006~hmac=8b0e7b85675a5a9673be5dd64cee0e6c76ad41860bf8c685dc403d7fcb5650f8');
  background-repeat: no-repeat;
 /* background-position: center; */
  background-position-x: 75%;
  background-position-y: 65%;
  background-size:cover;
  overflow: hidden;  
}
.landscapess{
  /* border:2px solid red; */
  background-image: url('https://img.freepik.com/free-vector/dark-hexagonal-background-with-gradient-color_79603-1409.jpg?w=900&t=st=1710856406~exp=1710857006~hmac=8b0e7b85675a5a9673be5dd64cee0e6c76ad41860bf8c685dc403d7fcb5650f8');
  background-repeat: no-repeat;
 background-position: center;
  /* background-position-x: 75%;
  background-position-y: 65%; */
  background-size:cover;
  /* overflow: hidden;   */
}

/* navber */
.header{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  /* padding:20px 100px; */
  background: rgba(255, 255, 255, .1);
  backdrop-filter:blur(10px) ;
  border-bottom: 2px solid rgba(255, 255, 255, 0.13);
}
.header::before{
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .2), transparent);
}
.header:hover::before{
  left: 100%;
}
/* .logo{
  color:#fff;
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
} */
.navbar a{
/* color:#fff; */
font-size: 18px;
text-decoration: none;
/* margin-left: 35px; */
transition: .3s ease;
}
.navbar a:hover{
  color:#f00;
font-size: 18px;
text-decoration: none;
margin-left: 35px;
}
/* hexagon button */
.hexagon{
  position: relative;
  width:100px;
  height: 63px;
  background: rgb(31, 31, 44);
  border-radius: 2%;
}
.movinglight{
  position: relative;
  width:100px;
  height: 90px;
  background:rgba(60, 54, 54, 0.105);
  border-radius: 35px;
  display:flex;
  justify-content: center;
  align-items: center;
  
  /* border:2px solid green; */
  overflow: hidden; 
}

.movinglight::before{
  content: '';
  position: absolute;
  width:180px;
  height: 120px;
  border:2px solid red;
  border-radius: 7%;
  background-image:conic-gradient(transparent, transparent, transparent, #00ccff);
  animation: animate 4s linear infinite;
}
.movinglight::after{
  content: '';
  position: absolute;
  width:200px;
  height: 120px;
  border-radius: 7%;
  background-image:conic-gradient(transparent, transparent, transparent, #d400d4);
  animation: animate 4s linear infinite;
  animation-delay: -2s;
}
@keyframes animate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
  
}
.span{
  position: absolute;
  inset:4px;
  /* border:2px solid green; */

  border-radius: 26px;
  background: rgb(31, 31, 44);
  z-index: 1;
}
.hexagon::before,
.hexagon::after {
  content: '';
  position: absolute;
  width:0px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-radius: 7%;

}
.hexagon::before{
bottom: 99.9%;
border-bottom: 30px solid rgb(31, 31, 44);
border-radius: 7%;


}
.hexagon::after{
  top:100%;
  border-top:30px solid  rgb(31, 31, 44);
  border-radius: 7%;
}

/* signing page  */
.Signturepad{

  border:2px solid red;
  /* min-height: 200px; */
  background-color: #ffff;

}